# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
.tmp
/out-tsc
www
generated
vite.config.ts.**.mjs

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.nx/cache
.stencil

packages/core/src/utils/constants/icons.constant.ts
packages/core/icons
packages/core/components
packages/core/loader
packages/core/wwww
packages/core/**/theming.md
packages/core/**/testing.md
packages/core/**/api.md
packages/icons/src/icons.json
packages/maps/src/markers.json
packages/brand-icons/src/icons.json
packages/css/css
packages/styles/css
packages/styles/docs

packages/favicons/CHANGELOG.md
packages/fonts/CHANGELOG.md
packages/icons/CHANGELOG.md

libs/output-targets-angular/CHANGELOG.md
libs/output-targets-react/CHANGELOG.md
libs/output-targets-vue/CHANGELOG.md

e2e/generated
e2e/downloads

resources/data
!resources/data/tags.json

docs/stories/contributors.md
docs/stories/development/00-guides/theming/theming.md
docs/public/assets/fonts/
docs/public/assets/data/
docs/public/assets/download/
docs/public/assets/css/baloise-design-system.min.css
docs/public/assets/css/design-system-table.css
docs/public/assets/css/baloise-design-system.min.css
docs/public/build/
docs/stories/components/**/api.md
docs/public/assets/images/map-markers
docs/public/assets/images/brand-icons
docs/public/assets/images/icons
docs/stories/assets/data
docs/dist

.angular
